<h4>{{ leyenda }}</h4>

<div class="input-group">
    <div class="input-group-btn">
        <button [ngClass]="btnClass" type="button" (click)=changeValue(-5)>
            <i class="mdi mdi-minus"></i>
        </button>
    </div>
    <input type="number" min="0" max="100" class="form-control" [(ngModel)]="progreso">
    <div class="input-group-btn">
        <button [ngClass]="btnClass" type="button" (click)=changeValue(5)>
            <i class="mdi mdi-plus"></i>
        </button>
    </div>
</div>